.container {
  display: flex;
  justify-content: flex-end;
}

.tab {
  padding: 10px;
  background-color: white;
  width: 50%;
  text-align: center;
  transition: background-color 200ms, color 200ms;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.tab:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  transition: background-color 200ms, color 200ms;
}

.active {
  border: 1px solid rgb(194, 194, 194);
  border-bottom: none;
  border-top: none;
}

.active:hover {
  background-color: white;
}

.rightTab {
  border-right: none;
}

.leftTab {
  border-left: none;
}
